*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.light{
  --primary-color: #f1f1f1;
  --secondary-color:#406ff0;
  --terciary-color:#aaa;
}

.dark{
  --primary-color: #212121;
  --secondary-color:#406ff0;
  --terciary-color:#aaa;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.switch {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: var(--primary-color);
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill:var(--secondary-color);
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }


  body .dark{
    
    --primary-color: #000;
    --secondary-color:#406ff0;
    --terciary-color:#aaa;
}

.card{
    width: 300px;
    height: 450px;
    margin-top: 50px;
    background-color: var(--primary-color);
    color: var(--terciary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 0 10px 40px var(--terciary-color) ;
    transition: all .5s;
}

.card:hover{
    box-shadow: 0 20px 70px var(--secondary-color)  ;
    
}

.img
{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.title{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.card span{
    background-color: var(--secondary-color);
    padding: 5px 10px;
    color: var(--primary-color);
    font-size: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.social{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.social li{
    list-style: none;
    display: inline-block;
}

.social li a{
    display:block;
    text-decoration: none;
    text-align: center;
    color: var(--terciary-color);
    font-size: 28px;
    transition: all .7s;
}

li a:hover{
    transform: rotateY(360deg);
    color: var(--secondary-color);
}